{% extends "::base.html.twig" %}
{% block title %}
    Gallery - Legofy your images online
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/extra.css') }}">
    <link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
{% endblock %}
{% block body %}
    <div class="inner cover">
        {% include 'AppBundle:Default:ads.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <form name="form" method="post" action="" class="form-inline">
                    <div class="form-group">
                        <label class="sr-only">Tags</label>
                        {{ form_widget(form.tags, {'attr': {'class': 'form-control', 'placeholder': 'Tags'}}) }}
                    </div>
                    <div class="checkbox">
                        <label>
                            {{ form_widget(form.private) }} Make it private
                        </label>
                    </div>
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-default">Save</button>
                </form>
                <br>
                <a href="#" class="thumbnail">
                    <img alt="100%x180" style="width: 100%; display: block;" src="/images/{{ image.name }}" data-holder-rendered="true">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
