{% extends "::base.html.twig" %}
{% block title %}
    Home - Legofy your images online
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/extra.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block body %}
    <div class="inner cover">
        <h1 class="cover-heading">Legofy your images online.</h1>
        <div class="hide showresult"></div>
        <form action="{{ url('uploadFile') }}" class="dropzone form-inline" id="dropzoneImage">
            <div class="alert alert-danger"></div>
            <div class="dz-message needsclick">
                Drop files here or click to upload.
                <br>
                <span class="note needsclick">(<strong>First</strong> check the box if you want your picture to be published in gallery)</span>
            </div>
            <div class="submit-dropzone">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="allow"> Allow legofy to use it in gallery
                    </label>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/dropzone.js') }}"></script>
    <script src="{{ asset('js/particles.js') }}"></script>
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
