{% extends "::base.html.twig" %}
{% block title %}
    Home - Legofy your images online
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/Legofy/css/extra.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/Legofy/css/dropzone.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/Legofy/css/home.css') }}">
{% endblock %}
{% block body %}
    <div class="inner cover">
        <h1 class="cover-heading">Legofy your images online.</h1>
        <form action="{{ url('uploadFile') }}" class="dropzone form-inline" id="dropzoneImage">
            <div class="alert success"></div>
            <div class="alert alert-danger"></div>
            <div class="dz-message needsclick">
                Drop files here or click to upload.
            </div>
            <div class="submit-dropzone">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="allow" checked> Allow legofy to use it in gallery
                    </label>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/Legofy/js/dropzone.js') }}"></script>
    <script src="{{ asset('bundles/Legofy/js/particles.js') }}"></script>
    <script src="{{ asset('bundles/Legofy/js/home.js') }}"></script>
{% endblock %}
